.main__login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-grey-4);
}

.main__content{
    padding: 0 1rem;
    max-width: 1024px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content--apresentation {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.main__content--apresentation h1 {
    line-height: 3rem;
}

.main__content--apresentation button{
    width: 75%;
    height: 48px;
    border-radius: 0.5rem;
    transition: all 0.2s;
}

.main__content--apresentation button:hover {
    background-color: #ff2676;
}

@media (max-width: 980px) {
    .main__content--illustration {
        display: none;
    }

    .main__content {
        justify-content: center;
    }
}